.item-list {
    margin-left: 16px;
    margin-top: 32px;
    padding-top: 14px;
    margin-right: 64px;
    border-top: 2px solid #0b77e3;
    border-left: 2px solid #0b77e3;
    border-top-left-radius: 16px;
    padding-left: 14px;
}

.item-wrapper {
    padding-bottom: 8px;
}

.item-wrapper a {
    color: #000000;
    font-style: normal;
    text-decoration: none;
}

.item-date {
    display: inline-block;
    vertical-align: top;
    width: 110px;
}

.item-fav {
    display: inline-block;
    vertical-align: top;
    margin-top: 4px;
    width: 16px;
}

.item-title {
    display: inline-block;
    padding-left: 8px;
    max-width: calc(100% - 152px)
}

@media (max-width: 500px) {
    .item-list {
        margin-left: 4px;
        margin-right: 4px;
    }
}