.page {
    max-width: 1000px;
    background-color: #fff;
    margin: auto;
    font-family: 'Open Sans',sans-serif;
    padding-bottom: 32px;
}

body {
    background-color: #113e6c !important;
    margin: 0;
}